/* Resetando */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura da tela */
}

/* Header */
header {
    background-color: rgb(18, 17, 17);
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra no header */
}

/* Links de navegação */
.link-navegacao {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s;
}

.link-navegacao:hover {
    color: #4CAF50; /* Verde quando passa o mouse */
}

.link-navegacao h1 {
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}
/* Seção principal */
main {
    padding: 20px;
}

.missao {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.descricao-missao {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    text-align: justify; /* Melhor leitura */
}

/* Títulos das seções */
.section-titulo {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
}

/* Seções (Visão, Compromisso, etc.) */
.visao, .compromisso {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.visao:hover, .compromisso:hover {
    transform: translateY(-5px); /* Efeito hover */
}


/* Estilo para a galeria */
.galeria {
    padding: 30px;
    background-color: #fff;
    text-align: center;
}

.galeria h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(18, 17, 17);
}

.galeria .slider {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.galeria .slide {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.galeria img {
    width: 100%;

    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}


/* Parte 2  Estilo para os cartões */
.cartoes {
    padding: 30px;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Garante que o conteúdo fique centralizado */
    max-width: 1500px; /* Ajuste conforme necessário */
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 80%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Loader (carregamento)  icon confluence */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    color: #854f1d;
    background: radial-gradient(farthest-side, currentColor calc(100% - 6px), #0000 calc(100% - 5px) 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 13px), #000 calc(100% - 12px));
    border-radius: 50%;
    animation: l19 2s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    background: linear-gradient(currentColor 0 0) center, linear-gradient(currentColor 0 0) center;
    background-size: 100% 10px, 10px 100%;
    background-repeat: no-repeat;
}

.loader::after {
    transform: rotate(45deg);
}

@keyframes l19 {
    100% {
        transform: rotate(1turn);
    }
}

.loader.hidden {
    display: none;
}




/* Parte 3 Formulário de contato */

.contactForm {
    padding: 20px; /* Reduzindo o padding */
    background-color: #fff;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%; /* Largura ajustada */
    max-width: 800px; /* Largura máxima reduzida */
    margin-left: auto;
    margin-right: auto; /* Centralizando o formulário */
}

/* Estilo para os campos de input */
.contactForm input {
    width: 100%; /* Ocupar toda a largura disponível */
    padding: 10px; /* Menor padding */
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.9rem; /* Tamanho da fonte reduzido */
    margin-bottom: 15px; /* Menor espaço entre os campos */
}

/* Estilo para o botão de envio */
.contactForm button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px; /* Menor padding */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem; /* Tamanho da fonte reduzido */
    transition: background-color 0.3s ease;
}

.contactForm button:hover {
    background-color: #45a049;
}

/* Mensagens de erro ou sucesso */
.form-message {
    margin-top: 10px;
    font-size: 0.9rem; /* Tamanho da fonte reduzido */
    color: #d9534f;
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
    .contactForm {
        width: 90%; /* Reduzindo a largura para telas médias */
        padding: 15px; /* Ajustando o padding */
    }

    .contactForm input,
    .contactForm button {
        font-size: 0.8rem; /* Ajustando o tamanho da fonte */
    }
}

@media (max-width: 768px) {
    .contactForm {
        width: 95%; /* Mais estreito em telas pequenas */
        padding: 10px; /* Reduzindo o padding */
    }

    .contactForm input {
        font-size: 0.8rem; /* Ajustando o tamanho da fonte */
        padding: 8px; /* Diminui o padding */
    }

    .contactForm button {
        font-size: 0.8rem; /* Ajustando o tamanho da fonte */
        padding: 8px 15px; /* Ajuste do botão */
    }
}

@media (max-width: 480px) {
    .contactForm {
        width: 100%; /* Preenchendo toda a largura disponível */
        padding: 10px; /* Reduzindo o padding */
    }

    .contactForm input {
        font-size: 0.8rem; /* Reduzindo o tamanho da fonte */
        padding: 8px; /* Reduzindo o padding */
    }

    .contactForm button {
        font-size: 0.8rem; /* Ajuste do tamanho da fonte */
        padding: 8px 15px; /* Ajuste do tamanho do botão */
    }
}

/* Estilo para os links das redes sociais */
.social-links {
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    color: #333;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #4CAF50;
}
